* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
  font-family: Poppins, Arial, sans-serif;
}

@font-face {
  font-family: Monoton;
  src: url(../attachments/fonts/Monoton-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url(../attachments/fonts/Poppins-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url(../attachments/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url(../attachments/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}


:root {
  --claro: #eee;
  --cor0: #121212;
  --cor1: #272533;
  --cor2: #BCBCBC;
  --cor3: #00A97F;
  --cor4: #FF00FF;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor0);
}

header {
  height: 12vh;
  position: fixed;
  width: 100%;
  /* background para teste */
  /* background: var(--cor3); */
}

/* Estilos gerais */

.section-full-viewport {
  height: 100vh;
}

.section-full-percent {
  height: 100%;
}

.section-padding {
  padding: 120px 0px;
}

.section-container {
  width: 100%;
  max-width: 1252px;
  margin: 0 auto;
  padding: 0px 10px;
}

.prevent-user-select {
  user-select: none;
}

.prevent-user-pointer {
  pointer-events: none;
}

/* Estilos específicos */

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  /* background para teste */
  /* background: blue; */
}

.header-title-link {
  transition: .3s all ease-in;
  font-family: Monoton;
  font-size: 3.5rem;
  text-decoration: none;
  font-variant: small-caps;
}

.header-title-link:hover {
  color: var(--cor4);
}

.section-intro {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.25) url(../attachments/images/shadowmoon-wallpaper.webp) center center no-repeat fixed;
  background-size: cover;
  background-blend-mode: darken;
}

.section-intro .section-container h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 2px;
}

#down-arrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
  fill: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-projects-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-projects-thumb {
  width: 100%;
  max-width: 500px;
  border: 1px solid white;
}

.section-projects-text-wrapper {
  text-align: center;
  padding: 10px;
}

.section-projects-title {
  font-variant: small-caps;
  font-size: 2rem;
}

.section-projects-p-text {
  font-size: 1.3rem;
  font-weight: 300;
}

.section-projects-link {
  text-decoration: none;
}

@media (max-width: 768px) {
  .header-title-link {
    font-size: 2.5rem;
  }

  .section-intro .section-container h2 {
    font-size: 2rem;
  }

  .section-projects-wrapper {
    flex-direction: column;
  }

}