@use '../../sassStyles/' as u;

.section-hero {
  background-image: url("../../assets/images/shadowmoon-wallpaper.webp");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;

  padding: 24px;

  min-height: 100vh;

  @include u.flexCenter;
  text-align: center;

  position: relative;


  &-more-button {
    @include u.flexCenter;

    position: absolute;
    bottom: 0;
    
    width: 100px;
    height: 100px;

    &:hover {
      img {
        transform: scale(1.35);
      }
    }

    img {
      width: 80px;
      height: 80px;
      transition: .15s;
    }
  }

  .section-hero-title {
    font-size: u.$fxl;
    max-width: 750px;
  }
}