@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

    :root {
      --fonte-normal: 'Roboto', sans-serif;
      --fonte-destaque: 'Righteous', cursive;
    }

    * {
      margin: 0;
      padding: 0;
    }

    body {
      background: #222;
      color: white;
      font-size: 1.5em;
      font-family: var(--fonte-normal);
    }

    header {
      background-color: black;
      text-align: center;
      font-family: var(--fonte-destaque);
      padding: 30px;
    }

    header a {
      color: rgb(46, 46, 208);
      text-decoration: none;
    }

    header a:hover {
      text-decoration: none;
    }

    .perfil__info p {
      text-align: justify;
      padding-bottom: 15px;
    }

    #perfil__img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }

    section {
      background-color: #111;
      text-align: left;
      max-width: 1100px;
      margin: auto;
      padding: 50px;
    }

    .section__conteudo li {
      list-style: square;
    }

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      text-decoration: underline;
    }