@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

:root {
  --fonte-normal: 'Roboto', sans-serif;
  --fonte-destaque: 'Righteous', cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

header {
  font-family: var(--fonte-destaque);
  font-size: 1.7em;
  background-color: #111;
  text-align: center;
  padding: 20px;
}

header a {
  text-decoration: none;
  color: rgb(25, 25, 196);
}

main {
  background-color: #333;
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.342);
}

.text {
  color: white;
  font-family: var(--fonte-normal);
}

.div__perfil {
  display: flex;
  align-items: center;
}

.div__perfil img {
  border-radius: 50%;
  border: 1px solid navy;
}

.div__perfil-info {
  margin-left: 50px;
}

.div__perfil-info p {
  font-size: 1.5em;
  text-align: justify;
}

.div__perfil-info h1 {
  font-size: 2.5em;
}

.div__content {
  padding: 20px 30px;
}

.div__content h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.div__content a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}

.div__content a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.div__content li {
  list-style: square;
}